body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif; }

h1 {
  font-family: 'Arial', sans-serif;
  color: black; }

h2 {
  font-family: 'Arial', sans-serif;
  color: black; }

p {
  margin: 5px;
  padding: 10px; }

/*
*****************
NAVBAR
*****************
*/
.nav-wrapper {
  padding: 10px;
  background-color: rgba(0, 58, 26, 0.6);
  color: #fff;
  height: 2em;
  width: calc(100vw - 1.3em);
  border-radius: 0 0 1em 1em;
  position: fixed;
  z-index: 1;
  transition: all .5s ease-out; }
  .nav-wrapper.active {
    transform: translateY(-2.5em); }

.nav-list {
  text-align: right;
  margin-top: -.1em; }

.nav-item {
  text-align: right;
  display: inline-block;
  padding: 5px 5px 5px 0;
  font-size: 1.2em;
  font-family: "Arial", sans-serif;
  color: white;
  border: none;
  outline: none;
  margin: 0;
  background: none; }
  .nav-item:hover {
    color: #003a1a; }

@media only screen and (max-width: 2560px) {
  .nav-wrapper {
    height: 4em; }
  .nav-list {
    margin-top: -.4em; }
  .nav-item {
    font-size: 3em;
    padding: 10px 10px 10px 10px; } }

@media only screen and (max-width: 1440px) {
  .nav-wrapper {
    height: 2em; }
  .nav-list {
    margin-top: -1.2em; }
  .nav-item {
    font-size: 2.3em; } }

@media only screen and (max-width: 1024px) {
  .nav-wrapper {
    height: 2em; }
  .nav-list {
    margin-top: -.5em; }
  .nav-item {
    font-size: 1.8em; } }

@media only screen and (max-width: 768px) {
  .nav-wrapper {
    height: 2em; }
  .nav-list {
    margin-top: -.3em; }
  .nav-item {
    font-size: 1.4em; } }

@media only screen and (max-width: 375px) {
  .nav-wrapper {
    height: 2em; }
  .nav-list {
    margin-top: -.1em; }
  .nav-item {
    font-size: 1.2em; } }

/*
*****************
TITLE SECTION
*****************
*/
.title-image {
  padding: 0;
  margin: 0;
  filter: grayscale(80%); }

#title-refinery {
  width: 375px;
  height: auto; }

@media only screen and (max-width: 2560px) {
  #title-refinery {
    width: 2560px; } }

@media only screen and (max-width: 1440px) {
  #title-refinery {
    width: 1440px; } }

@media only screen and (max-width: 1024px) {
  #title-refinery {
    width: 1024px; } }

@media only screen and (max-width: 768px) {
  #title-refinery {
    width: 768px; } }

@media only screen and (max-width: 425px) {
  #title-refinery {
    width: 425px; } }

@media only screen and (max-width: 375px) {
  #title-refinery {
    width: 375px; } }

@media only screen and (max-width: 360px) {
  #title-refinery {
    width: 360px; } }

/*
*****************
PRODUCTS SECTION
*****************
*/
#products {
  background-color: #e6e6e6;
  width: 100%; }

.products-header {
  margin: 0;
  padding: 5px;
  text-align: center;
  font-size: 3.5em;
  display: block; }

.products-line {
  width: 75px;
  height: 2px;
  background-color: #003a1a;
  padding: 5px;
  margin: -.5em 9em 0 9em; }

.products-category {
  padding: 10px;
  margin: .5em;
  text-decoration: underline;
  font-size: 1.75em; }

.products-buttons {
  width: 200px;
  display: inline-block;
  height: auto;
  padding: .5em;
  margin: .5em 5em .5em 5em; }

@media only screen and (max-width: 2560px) {
  .products-header {
    font-size: 12em; }
  .products-category {
    font-size: 6em; }
  .products-buttons {
    width: 500px;
    margin: 2em 10em 5em 10em; }
  .products-line {
    width: 175px;
    height: 10px;
    background-color: #003a1a;
    padding: 5px;
    margin: -.5em 75em 0 75em; } }

@media only screen and (max-width: 1440px) {
  .products-header {
    font-size: 10em; }
  .products-category {
    font-size: 5em; }
  .products-buttons {
    width: 500px;
    margin: .5em 6em .5em 6em; }
  .products-line {
    width: 100px;
    height: 5px;
    background-color: #003a1a;
    padding: 5px;
    margin: -.5em 43em 0 43em; } }

@media only screen and (max-width: 1024px) {
  .products-header {
    font-size: 8em; }
  .products-category {
    font-size: 4em; }
  .products-buttons {
    width: 375px;
    margin: .5em 3.5em .5em 3.5em; }
  .products-line {
    width: 100px;
    height: 5px;
    background-color: #003a1a;
    padding: 5px;
    margin: -.5em 29em 0 29em; } }

@media only screen and (max-width: 768px) {
  .products-header {
    font-size: 6em; }
  .products-category {
    font-size: 3em; }
  .products-buttons {
    width: 300px;
    margin: .5em 2em .5em 2em; }
  .products-line {
    width: 75px;
    height: 2px;
    background-color: #003a1a;
    padding: 5px;
    margin: -.5em 22em 0 22em; } }

@media only screen and (max-width: 425px) {
  .products-header {
    font-size: 4em; }
  .products-category {
    font-size: 2em; }
  .products-buttons {
    width: 300px;
    margin: .5em 2em .5em 2em; }
  .products-line {
    width: 75px;
    height: 2px;
    background-color: #003a1a;
    padding: 5px;
    margin: -.5em 11em 0 11em; } }

@media only screen and (max-width: 375px) {
  .products-header {
    font-size: 3.5em; }
  .products-category {
    font-size: 1.75em; }
  .products-buttons {
    width: 200px;
    margin: .5em 5em .5em 5em; }
  .products-line {
    width: 75px;
    height: 2px;
    background-color: #003a1a;
    padding: 5px;
    margin: -.5em 9em 0 9em; } }

/*
*****************
ABOUT SECTION
*****************
*/
.about-header {
  display: block;
  font-size: 3.5em;
  text-align: center;
  padding: 10px; }

.about-line {
  width: 75px;
  height: 2px;
  background-color: #003a1a;
  padding: 5px;
  margin: -1em 9em 0 9em; }

@media only screen and (max-width: 2560px) {
  .about-header {
    font-size: 12em; }
  .about-content {
    font-size: 3em; }
  .about-line {
    width: 175px;
    height: 10px;
    background-color: #003a1a;
    padding: 5px;
    margin: -1em 75em 0 75em; } }

@media only screen and (max-width: 1440px) {
  .about-header {
    font-size: 10em; }
  .about-content {
    font-size: 2.5em; }
  .about-line {
    width: 100px;
    height: 5px;
    background-color: #003a1a;
    padding: 5px;
    margin: -1em 43em 0 43em; } }

@media only screen and (max-width: 1024px) {
  .about-header {
    font-size: 8em; }
  .about-content {
    font-size: 2em; }
  .about-line {
    width: 100px;
    height: 5px;
    background-color: #003a1a;
    padding: 5px;
    margin: -1em 29em 0 29em; } }

@media only screen and (max-width: 768px) {
  .about-header {
    font-size: 6em; }
  .about-content {
    font-size: 1.5em; }
  .about-line {
    width: 75px;
    height: 2px;
    background-color: #003a1a;
    padding: 5px;
    margin: -1em 22em 0 22em; } }

@media only screen and (max-width: 425px) {
  .about-header {
    font-size: 4em; }
  .about-content {
    font-size: 1.25em; }
  .about-line {
    width: 75px;
    height: 2px;
    background-color: #003a1a;
    padding: 5px;
    margin: -1em 11em 0 11em; } }

@media only screen and (max-width: 375px) {
  .about-header {
    font-size: 3.5em; }
  .about-content {
    font-size: 1em; }
  .about-line {
    width: 75px;
    height: 2px;
    background-color: #003a1a;
    padding: 5px;
    margin: -1em 9em 0 9em; } }
