body {
  margin: 0;
  padding: 0;
  font-family: 'Alegreya', serif; }

h1 {
  font-family: 'Alegreya', serif;
  color: black; }

h2 {
  font-family: 'Alegreya', serif;
  color: black; }

p {
  margin: 5px;
  padding: 10px; }

/*
*****************
NAVBAR
*****************
*/
.nav-wrapper {
  padding: 10px;
  background-color: rgba(0, 58, 26, 0.7);
  color: #fff;
  height: 2em;
  width: calc(100vw - 1.3em);
  border-radius: 0 0 1em 1em;
  position: fixed;
  z-index: 1; }

.nav-list {
  text-align: right;
  margin-top: -.1em; }

.nav-item {
  text-align: right;
  display: inline-block;
  padding: 5px 5px 5px 0;
  font-size: 1.2em;
  font-family: "Alegreya", serif; }

/*
*****************
TITLE SECTION
*****************
*/
.title-image {
  padding: 0;
  margin: 0;
  filter: grayscale(100%); }

#title-refinery {
  width: 375px;
  height: auto; }

/*
*****************
PRODUCTS SECTION
*****************
*/
#products {
  background-color: #e6e6e6; }

.products-header {
  margin: 0;
  padding: 5px;
  text-decoration: underline;
  text-align: center;
  font-size: 3.5em;
  display: block; }

.products-category {
  padding: 10px;
  margin: .5em;
  text-decoration: underline;
  font-size: 1.75em; }

.products-buttons {
  width: 200px;
  display: inline-block;
  height: auto;
  padding: .5em;
  margin: .5em 5em .5em 5em; }

/*
*****************
ABOUT SECTION
*****************
*/
.about-header {
  display: block;
  font-size: 3.5em;
  text-align: center;
  padding: 10px; }
